<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IAPExampleProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9261183A25B9E7FC00B8A7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9261185025B9E7FE00B8A7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9261185B25B9E7FE00B8A7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
